body
{
	background-image: url("https://frpnet.net/wp-content/uploads/2014/02/barfight-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:   #FFD700; /*LOTR menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: yellow;} /*lotr ustune gelince renk*/

.dropdown:hover .dropdown-content {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown1:hover .dropbtn {
    background-color: red;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute; 
    background-color: #2F4F4F; /*Marvel menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {background-color: #f1f1f1} /*marvel ustune gelince rengi*/

.dropdown1:hover .dropdown-content1 {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown2:hover .dropbtn {
    background-color: red;

}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /*WoW menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content2 a:hover {background-color: blue;} /*ustune gelince rengi*/

.dropdown2:hover .dropdown-content2 {
    display: block;
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown3:hover .dropbtn {
    background-color: red;
}

li.dropdown3 {
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #B22222; /*CV Menusu*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content3 a:hover {background-color: #f1f1f1}

.dropdown3:hover .dropdown-content3 {
    display: block;
}



/*WOW*/
#Wow {
  position:fixed;
 
  height:281px;
  width:450px;
  margin:0 auto;
}

#Wow img {
  position:absolute;
  left:100px;
  top: 270px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height: 281px;
  width: 450px;
  border-radius: 15px;
}

#Wow img.top:hover {
  opacity:0;
  position:relative;
  height:301px;
  width:450px;
  top:265px;
  left: 100px;
  margin:0 auto;
  border-radius: 15px;
}


/*marvel*/

#Marvel {
  position:fixed;
  top: 18px;
  height:281px;
  width:450px;
  margin:0 auto;
  left: 650px;
}

#Marvel img {
  position:absolute;
  left:100px;
  top:300px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height: 281px;
  width: 450px;
  border-radius: 15px;
}

#Marvel img.top:hover {
  opacity:0;
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  border-radius: 15px;
}



#LOTR {
  position:fixed;
  top: 18px;
  height:281px;
  width:450px;
  margin:0 auto;
  right: 200px;
}

#LOTR img {
  position:absolute;
  left:100px;
  top:300px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height: 281px;
  width: 450px;
  border-radius: 15px;
}

#LOTR img.top:hover {
  opacity:0;
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  border-radius: 15px;
}