body
{
    background-image: url("https://d1pij88h0gsf95.cloudfront.net/2018/11/29100450/5504398-2389170602-marve-1500x968-1080x608.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:   #FFD700; /*LOTR menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: yellow;} /*lotr ustune gelince renk*/

.dropdown:hover .dropdown-content {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown1:hover .dropbtn {
    background-color: red;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute; 
    background-color: #2F4F4F; /*Marvel menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {background-color: #f1f1f1} /*marvel ustune gelince rengi*/

.dropdown1:hover .dropdown-content1 {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown2:hover .dropbtn {
    background-color: red;

}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /*WoW menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content2 a:hover {background-color: blue;} /*ustune gelince rengi*/

.dropdown2:hover .dropdown-content2 {
    display: block;
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown3:hover .dropbtn {
    background-color: red;
}

li.dropdown3 {
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #B22222; /*CV Menusu*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content3 a:hover {background-color: #f1f1f1}

.dropdown3:hover .dropdown-content3 {
    display: block;
}



.button2 {
    background-color: #FFFF00; /*Yellow */
    border: none;
    color: black;
    padding: 35px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 300px;
    left: 200px;
    border-radius: 15px;
}

.button3 {background-color: #f44336;
    border: none;
    color: white;
    padding: 35px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 800px;
    border-radius: 15px;
    /* Red */ 
}

.button5 {background-color: #555555; /* Black */

    border: none;
    color: white;
    padding: 35px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 300px;
    left: 1500px;
    border-radius: 15px;
}

.Video
{
    position: fixed;
    top: 300px;
    left: 550px; 
    z-index: 0;
    border-radius: 15px; 

}
iframe {
    border:15px solid #000;
    border-radius: 15px !important;
}



