 body
{ background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/03/Logo-superman-wallpaper-HD.jpg");
   background-size: cover;
   background-repeat: no-repeat;

 }

h1
 {
  color: #cc2900
 }

h2
{
	color: #cc2900
}

h3
{
	color: #cc2900
}

h4 {
	color: #cc2900
}

h5{
    color: #cc2900
}
ul
{
	color: #cc2900
}

ol {
	color: #cc2900
}

p {
	color: #FFFFFF
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:   #FFD700; /*LOTR menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown1:hover .dropbtn {
    background-color: red;
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute; 
    background-color: #2F4F4F; /*Marvel menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown2:hover .dropbtn {
    background-color: red;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /*WoW menusu rengi*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {background-color: #f1f1f1}

.dropdown2:hover .dropdown-content2 {
    display: block;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown3:hover .dropbtn {
    background-color: red;
}

li.dropdown3 {
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #B22222; /*CV Menusu*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content3 a:hover {background-color: #f1f1f1}

.dropdown3:hover .dropdown-content3 {
    display: block;
}
}

.video1
{
    position: absolute;
    z-index: 0;
    left: 1250px;
    top: 60px;
}


.extra{
  color: #cc2900;
  position: relative;
  left: 1200px;
  top: : 40px;
}

.video2{
  position: fixed;
  z-index: 0;
  left: 1260px;
  top: 460px;
}

.video3{
  position: fixed;
  z-index: 0;
  left: 1260px;
  top: 710px;
}

.video4{
  position: fixed;
  z-index: 0;
  left: 1560px;
  top: 460px;
}

.video5{
  position: fixed;
  z-index: 0;
  left: 1560px;
  top: 710px;
}

.video6{
  position: fixed;
  z-index: -1;
  left: 1250px;
  top: 140px;
}
iframe {border:20px solid #000;
    border-radius: 20px !important;
}
